.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.filters {
  width: 15%;
  padding-top: 30px;
}

.filtersHeader {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}

.filterHeader {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 15px;
}

.filterDiv {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: fit-content;
  padding: 20px 0;
}

.sortDropdown {
  /* padding: 5px 5px;
  border-radius: 5px;
  border: none; */
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  border: 2px solid rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
}

.sortDropdown:focus {
  outline: none;
  /* border: none; */
}

.sortDropdown:focus-visible {
  outline: none;
  /* border: none; */
}

.left {
  width: 50%;
  /* border-right: 1px solid rgba(235, 235, 235, 1); */
  padding: 10px 10px;
  height: calc(100vh - 115px);
  overflow: hidden;
  /* margin-top: -20px; */
  /* -ms-overflow-style: none; 
  scrollbar-width: none; */
}

.header {
  /* border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 0px;
}

.sort {
  height: 20px;
}

.rightImg {
  object-fit: contain;
  width: 100%;
  object-position: 0% -20%;
  overflow: hidden;
}

.spots {
  padding-right: 30px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  height: calc(100% - 130px);
  overflow: auto;
  /* -ms-overflow-style: none;
  scrollbar-width: none; */
  display: flex;
  flex-direction: column;
  justify-content: start;
}
/* .spots::-webkit-scrollbar {
  display: none;
}

.left::-webkit-scrollbar {
  display: none;
} */

.heroImgDiv {
  height: 300px;
  width: 100%;
  overflow: hidden;
  object-fit: contain;
  justify-content: flex-start;
}

.heroImg {
  object-fit: cover;
  /* object-position: center; */
  height: 100%;
  width: 100%;
  z-index: -1;
  object-position: 50% 20%;
}

.heroImgDiv::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 300px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.65)
  );
  z-index: 2;
}

.heroContent {
  position: absolute;
  top: 630px;
  left: 210px;
  margin-left: 30px;
  transform: translate(-50%, -325px);
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroText {
  font-size: 36px;
  color: #ffffff;
}

.bottom {
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  padding-bottom: 50px;
  border-top: 1px solid rgba(235, 235, 235, 1);
}

.mapContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.right {
  height: calc(100vh - 95px);
  width: 35%;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.breadCrumbs {
  position: absolute;
  top: 15px;
  left: 30px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  border: none;
}
.breadCrumbText {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

.loadingText {
  padding-left: 30px;
}

.sort {
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  border: 2px solid rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 5px;
}

.sort:hover {
  background-color: #f0f0f0;
}

/* .sort {
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  background-color: #ff735c;
  font-weight: 500;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 5px;
}

.sort:hover {
  background-color: #ff8471;
} */

.suggested {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
}

.suggestedDiv {
  /* width: 100%;
  overflow: visible;
  margin-bottom: 7.5px; */
  /* display: flex;
  align-items: center; */
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  overflow: visible;
}

.suggestedDiv input {
  cursor: pointer;
  /* margin-right: 10px; */
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0px;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.suggestedDiv:hover input ~ .checkmark {
  background-color: #f0f0f0;
  cursor: pointer;
}

/* When the checkbox is checked, add a blue background */
.suggestedDiv input:checked ~ .checkmark {
  background-color: #ff735c;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.suggestedDiv input:checked ~ .checkmark:after {
  display: block;
}

.suggestedDiv .checkmark:after {
  left: 5.5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.categories {
  /* border: 1px solid black; */
  display: flex;
  justify-content: start;
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
  gap: 7.5px;
}

.category {
  color: rgba(0, 0, 0, 0.8);
  font-size: 15px;
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: fit-content;
  padding: 5px 15px;
  height: fit-content;
}

.category:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.categoryActive {
  background-color: rgba(255, 115, 92, 0.2);
  border: 1px solid #ff735c;
  color: #ff735c;
  font-size: 15px;
  border-radius: 25px;
  width: fit-content;
  padding: 5px 15px;
  height: fit-content;
}

.categoryActive:hover {
  cursor: pointer;
}
