.main {
  display: flex;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hero {
  width: 100%;
  height: fit-content;
}

.heroImgDiv {
  height: 300px;
  width: 100%;
  overflow: hidden;
  object-fit: contain;
  justify-content: flex-start;
}

.heroImg {
  object-fit: cover;
  /* object-position: center; */
  height: 100%;
  width: 100%;
  z-index: -1;
  object-position: 50% 20%;
}

.heroImgDiv::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 300px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.7)
  );
  z-index: 2;
}

.heroTextBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  font-weight: 500;
}

.heroContent {
  position: absolute;
  top: 260px;
  left: 0px;
  margin-left: 90px;
  /* transform: translate(-50%, -325px); */
  z-index: 80; /* Updated z-index value */
  display: flex;
  flex-direction: column;
  align-items: start;
  width: fit-content;
}

.heroText {
  font-size: 36px;
  color: #ffffff;
  margin: 0;
}

.seePhotos {
  position: absolute;
  top: 310px;
  right: 88px;
  color: white;
  /* background-color: #ffffff;
  color: #ff735c; */
  /* color: #ffffff;
  background-color: #ff735c; */
  z-index: 80;
  text-decoration: none;
  border: 1px solid #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 600;
  transition: background-color 0.3s ease; /* Add transition property */
}

.seePhotos:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.back {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  margin-left: 82px;
}

.back:hover {
  cursor: pointer;
}

.backText {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
}

.buttons {
  height: 50px;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 0;
}

.rightButtons {
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-right: 80px;
}

.writeReview {
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  background-color: #ff735c;
  font-weight: 500;
  transition: background-color 0.3s ease; /* Add transition property */
  display: flex;
  align-items: center;
  gap: 5px;
}

.writeReview:hover {
  background-color: #ff8471;
  cursor: pointer;
}

.rightButton {
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  border: 2px solid rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease; /* Add transition property */
  display: flex;
  align-items: center;
  gap: 5px;
}

.rightButton:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.buttonImg {
  height: 25px;
  width: 25px;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  margin-bottom: 100px;
  padding: 20px 0;
  margin-right: 110px;
  margin-left: 88px;
  position: relative;
  height: 100vh;
}

.contentTitle {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 30px;
}

.left {
  /* border: 1px solid rgba(0, 0, 0, 0.4); */
  max-width: 50%;

  padding: 0 10px;
  position: absolute;
  left: 0px;
  margin-right: 20px;
}

.right {
  /* border: 1px solid rgba(0, 0, 0, 0.4); */
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute;
  right: 0px;
  margin-right: 20px;
}

.info {
  width: 505px;
}

.infoTitle {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 15px;
}

.infoContent {
  width: 100%;
  height: fit-content;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 25px;
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.amenities {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(2, auto); /* 2 rows */
  gap: 20px; /* gap between grid items */
  justify-content: center;
  padding: 10px;
}

.amenity {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 2px;
}
.hours {
  width: 45%;
}

.hour {
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 13px;
  color: rgba(0, 0, 0, 0.85);
}

.hour p {
  margin: 0;
  color: rgba(0, 0, 0, 0.7);
}

.directions {
  width: 45%;
}

.getDirections {
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  border: 2px solid rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease; /* Add transition property */
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  width: 88%;
}

.mapContainer {
  width: 100%;
  height: 100px;
}

.address {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  padding: 15px 0;
  gap: 5px;
  align-items: center;
  margin-bottom: -10px;
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
