.gallery {
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  row-gap: 50px;
  column-gap: 25px;
  justify-content: center;
  align-items: center;
}
